.botão {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botão-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10vh;
}
.botão-Serviços {
    font-size: 20px;
    font-weight: bold;
    background-color: #578693;
    color: #ffffff;
}
.botão-Serviços:hover { 
    background-color: #ffffff;
    color: #000000;
}

.botão-Sobre{
    font-size: 20px;
    font-weight: bold;
    background-color: #E8903C;
    color: #ffffff;
}
.botão-Sobre:hover { 
    background-color: #9FE83C;
    color: #ffffff;
}
.botão-Entrar{
    margin-left: 1vh;
}
.botão-Entrar:hover{
    background-color: #007BFF;
    color: #fff;
}