footer .informações ul {
    list-style: none;
    padding: 0;
    margin-top: 20vh;
}

footer .informações ul li {
    display: flex;
    justify-content: space-around; /* Distribui o espaço igualmente entre os itens */
    flex-wrap: wrap; /* Garante que os itens se alinhem corretamente em telas menores */
}

footer .informações ul li p {
    font-size: 25px;
    font-weight: bold;
    margin: 0 50px;
    color: #fff;
}