.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: -50px;
    overflow: hidden;
}

.nav-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    margin-left: 3vh;
}

.perfil-container img {
    border-radius: 50%;
    width: 50px;  /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    box-shadow: 0 0 20px rgb(255, 255, 255), inset 0 0 10px rgba(0, 0, 0, 0.3); 
    position: relative;
}

.nav-links {
    font-size: 25px;
    list-style: none;
    display: flex;
    gap: 5vh;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-links li a:hover {
    color: #007BFF;
}